<!-- <h3>This is from app</h3>
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name pass to Child</mat-label><br />
    <input
      value="{{ name }}"
      matInput
      name="na"
      placeholder="Ex. Pizza"
      [(ngModel)]="name"
    />
  </mat-form-field>
</form>
{{ val }}

<h3>Values from child</h3>
<div *ngIf="show">
  <app-child [name]="name" (valComing)="ValCome($event)"></app-child>
</div>
<button (click)="check()">toggle</button>
{{ valueFromchild }} -->

<router-outlet></router-outlet>
